<template>
	<div>
		<page-title :title="$t('admin-title')" :subtitle="$t('admin-text')"/>
		<menu-small :menu="menu"/>
	</div>
</template>

<script>
	import PageTitle from '../components/PageTitle.vue';
	import MenuSmall from '../components/MenuSmall.vue';
	import store from '../js/store.js';
	import iconUser from '../img/user.svg';
	import iconAdmin from '../img/admin.svg';

	export default {
		name: "admin",
		components: {PageTitle, MenuSmall},
		data: function() {
			return {
				menu:[]
			}
		},
		mounted() {
			if (!store.user.hasRole('admin')) {
				this.$router.push({name:'main-index'});
			}
			else if (this.menu.length<1) {
				//add entries for main modules
				this.menu.push({title:this.$t('user-list-title'), text:this.$t('user-list-text'), icon:iconUser, to:'main-user-list'});
				this.menu.push({title:this.$t('version-title'), text:this.$t('version-text'), icon:iconAdmin, to:'main-version'});
				//add antries for other modules
	            for (var mod of this.$config.allModules) {
	            	if (mod.meta.adminto) {
	                    this.menu.push({title:mod.meta.title[store.lang], icon:mod.meta.icon, to:mod.meta.adminto, text:mod.meta.text[store.lang], role:mod.meta.role, id:mod.id});
	                }
	            }
	        }
		}
	}
</script>

<i18n>
{
	"de": {
		"admin-title": "Verwaltung",
		"admin-text": "Administration der Anwendung",
		"user-list-title":"Benutzer",
		"user-list-text":"Benutzer Verwaltung",
		"version-title":"Version",
		"version-text":"Version der Anwendung sowie der verwendeten externen Bibliotheken"
	},
	"en": {
		"admin-title": "Management",
		"admin-text": "Administration of this Application",
		"user-list-title":"User",
		"user-list-text":"User Management",
		"version-title":"Version",
		"version-text":"Version of the application and the external libraries"
	}
}
</i18n>
