.mytooltip {
  position: relative;
  display: inline-block;
  opacity:0.9;
}

.mytooltip .mytooltiptext {
  visibility: hidden;
  min-width: 120px;
  background-color: var(--dark);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;
  position: absolute;
  z-index: 1;
  bottom: 110%;
  left: 50%;
  margin-left: -60px;
}

.mytooltip .mytooltiptext::after {
  content: "";
  position: absolute;
  color:red;
  top: 100%;
  left: 60px;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color:  var(--dark) transparent transparent transparent;
}

.mytooltip:hover .mytooltiptext {
  visibility: visible;
}


@media print {
	.mytooltip {display:none !important}
}
