<template>
	<div class="card flex-row mb-3 shadow div-hover">
		<div class="card-body d-flex flex-column px-3">
			<p class="lead mb-0">{{entry.title}}</p>
		</div>
		<div class="bg-var card-img-right rounded-right flex-auto d-block d-md-none" style="min-height:6rem;padding:0.5rem;">
			<span class="align-middle" style="display:inline-block;height:100%;width:0"></span>
			<img class="align-middle" :src="entry.icon" style="width:4rem;filter:invert(1);">
		</div>
		<div class="bg-var card-img-right rounded-right flex-auto d-none d-md-block" style="min-height:6rem;padding:0.5rem;">
			<span class="align-middle" style="display:inline-block;height:100%;width:0"></span>
			<img class="align-middle" :src="entry.icon" style="width:4rem;filter:invert(1);">
		</div>
	</div>
</template>

<script>
	export default {
		name: "menu-small-entry",
		props: ['entry']
	}
</script>


<i18n>
{
	"de": {},
	"en": {}
}
</i18n>